<%- model_class = User -%>
<div class="page-header">
  <% if current_user.phone_number == nil or current_user.email == nil %>
    <p class="lead">We just need a little bit more information...</p> 
<% else%>
    <p class="lead">Update Your Information</p> 
<%end%>
</div>
<%= render :partial => 'form' %>
