<% if current_user == nil %>

<%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
<a href="/auth/facebook" rel="external">
		<img id="loginImage" src="/assets/facebook-login.png">
	</a>
<% end %>
