<%= simple_form_for @event do |f| %>
<% @event.location = @location["name"] %>
<%= f.input :location, :as => :hidden, :input_html => { :value =>@event.location }%>
<br/>
<div style="height:400px; overflow:scroll;">
<%= f.association :users,:label=>"Choose from your Friends on Gobble", :collection => @checkbox.map{|user| [raw(user.first), user.last]}, :as => :check_boxes %>
</div>
<br/>
<p>
Choose and invite friends in one easy step.
<br/>
Gobble will send an invitation via a text-message
<br/>
<i class="icon-group icon-2x" style="padding:5px 35px 0px 0px;"></i>
<i class="icon-exchange icon-2x" style="padding:5px 35px 0px 0px;"></i>
<i class="icon-mobile-phone icon-2x" style="padding:5px 35px 0px 0px;"></i>
</p>
<br/>
<%= f.button :submit %>
<% end %>
