<%#= @potential_users %>
<%= simple_form_for @event do |f| %>
  <div>
  <% unless @location.nil? %>
  <% end %> 
</div>
<% @event.location = @location["name"] %>
<%= f.input :location, :as => :hidden, :input_html => { :value =>@event.location }%>
<%= f.association :users, :collection => @checkbox.map{|user| [raw(user.second), user.last]}, :as => :check_boxes %>
<br/>
<%= f.button :submit %>
<% end %>
