// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
.login{
 background:url("sandwich.jpg");
  background-repeat:no-repeat;
  background-origin:content-box;
}

a:hover{
  text-decoration:none;
  background-color:transparent;
  font-weight:normal;
}


